* {
  box-sizing: border-box;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

html, body {
  background-color: #f1e2f2;
  font-size: 16px;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

a:active{
  color: #7654b2;
}

.home{
  text-align: center;
}

.app {
  min-height: 100vh;
}

.header {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0.5rem 1rem;
}

.container {
  color: #63429e;
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 45rem;
  width: 100%;
}

.btn {
  background-color: #63429e;
  border-radius: 3px;
  color: #f1e2f2;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
}

.btn:hover{
  background-color: #7654b2;
  color: #ffffff;
}

.btn--disabled{
  opacity: 0.8;
  cursor: not-allowed;
}

.btn--disabled:hover{
  background-color: #63429e;
  color: #f1e2f2;
}

.survey-title{
  margin-bottom: 3rem;
}

.survey-container{
  padding: 0 0.5rem;
}

.action{
  margin: 3rem 0;
}